._title{
  text-align: left;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 20px 0;
}
._sub-title{
  text-align: left;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0;
}
._price-title{
  font-size: 1.125rem;
  font-weight: 500;
  white-space: nowrap;
}

.title_page {
  padding-top: 20px;

}

